{% load static %}

<br>
<html>
<head>
    <title>manikanta</title>
    <link href= "{% static '/css/main.css' %}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="comtainer">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src= " {% static '/images/profilepic.jpg' %}" >
                    <hr>
                    <p><b>GRANDHI MANIKANTA </b></p>
                    <p>I love coding, doing research and collaborating</p>
                    <p><b>mail-id: manikanta.22121996@gmail.com </b></p>
                    <p><b> contact number: 91********* </b></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My first job was a Devops Engineer</h4>
                <hr>
                <p> Creating the daily Environments and deploying the latest artifacts of various components.</p>
                <p>Resolving the deployments issues of Environment level and for Code level issues reporting concerned Dev teams with appropriate logs via VersionOne tool.</p>
                <p>Performing basic sanity test, Running Build Acceptance Testing jobs in Jenkins and handing over the environments to the QA teams with Stable artifacts.</p>
                <p>Configuring Jenkins jobs for automated build process, monitoring and resolving any blockages in CI pipeline and build failures.</P>
                <p>Working on Version Control Management tools like Git & GitHub</p>
                <p>Monitoring and troubleshooting automated deployments with Zeus</p>
                <p>After 1 year i step towards into python coding and django web framework and started my career to develop applications.</p>
                <ul id="social-links">
                    <li><img id="social" src= " {% static '/images/facebook.png' %}" ></li>
                    <li><img id="social" src= " {% static '/images/linkedin.png' %}" ></li>
                    <li><img id="social" src= " {% static '/images/youtube.png' %}" ></li>
                </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                <h4>My Experience as a Devops Engineer</h4>
                <hr>
                <p>Devops Engineer at Gspann Technologies</p>
                <p><b>Project Name: Macys and Bloomingdales(E-commerce websites) </b></p>
                <p>Experience working on Version Control Management Tools such as GIT and GIT Hub. Experience on build tools to generate project artifacts.Communication with DEV,QA,PERF,PRE-PROD,PROD and Delivery team related to build and deployment status and concerned issues.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                <h4>Technical skills : </h4>
                <hr>
                <p><b>coding languages:</b> python, java, c</p>
                <p><b>web framework :</b> Django</p>
                <p><b>web Technologies :</b> HTML,CSS </p>
                <p><b>version control system:</b> GitHub</p>
                <p><b>Tools:</b> Zeus Integration, Jenkins,Jira Ticketing</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                <h4> Experience as python Developer </h4>
                <hr>
                <p><b>Project Name: Vehicle Detection and Count </b></p>
                <p>A project on “Vehicle Detection and Count” which is based on Computer Vision and “Python” used to detect number and type of vehicles on the road.</p>
                <p>It displays the Number of vehicles based on the type of vehicle.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                <h4> Personal Hobbies</h4>
                <hr>
                <p>1.Cricket</p>
                <p>2.Playing chess </p>
                <p>3.Watching movies</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>

